body {
    font-family: 'Milyuna', sans-serif;                                       
    margin: 0px;
    background-color: #4c4744;
    color: black
  }
  
  header {
    background-color: #D9C5B4;
    background-image: url(https://cdn.shopify.com/s/files/1/1176/2130/files/5x3_652_01b_Brand_Living_Room_Hero_038_45fd5439-b96a-44da-91b6-bf2009856ccf.jpg?v=1655323351);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0);
    padding: 200px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    size: 100%;
    background-position: 100%;
  }
  
  nav ul {
    list-style-type: none;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    padding: 15px 10%;
    transition: 0.2s;
    width: 80%;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    position: fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

   

  h1 {
    color: #ffffff;
    align-items: center;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
  }

  .slogan {
    color: #ffffff;
    position: relative;
  }

  .i {
    color:#0c0c0c;
  }

  

  img {
    width: 300px;
    margin-right: 40px;
    height: 200px;
  }

  .logo {
    width: 300px;
    height: auto;
    align-items: end;
  }

  .listing::after {
    list-style: none;
    padding: 0%;
    margin: 0%;
    width: 300px;

  }

  .contact {
    margin: 20px;
    color: black;
    font-style: italic;

    
  }

  h2 {
    color: #030303;
  }

  .offices {
    width: 30%;
    height: 30%;
  }


  
  .li {
    color:black;
    text-decoration: none;
  }

  a {
    color:black;
    text-decoration: none;
  }
  
  html {
    margin: 0;
  }

  main {
    margin: 40px;
  }

  ul {
    margin: 0%;
  }

  h3 {
    color:azure
  }

  p {
    color: azure
  }

  label {
    color: azure;
  }

  .contact-form {
    width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  .contact-form input[type=text], .contact-form input[type=email], .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .contact-form input[type=submit] {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  .contact-form input[type=submit]:hover {
    background-color: #0069d9;
  }

  footer {
    margin: 40px;
  }

  


  